<hr>

<p>
  <li>
    <p>"{{answer.body}}" -{{answer.name}}</p>
  </li>
</p>
Posted: {{posted-ago answer.date}}
<p>
  {{answer.votes}} votes
</p>

<button{{action 'upvote' answer}}>Upvote!</button>
<button{{action 'downvote' answer}}>Downvote</button>
{{yield}}
