<div class="container">
    <div class="row">
    <h3>"{{question.question}}"</h3>
    <h4>- {{question.name}}</h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <p>
      {{question.notes}}
    </p>
    <p>
      Posted: {{posted-date question.date}}
    </p>
  </div>

</div>

{{yield}}
