<nav>
  <h1>{{#link-to "index"}}Welcome to the Game Haven{{/link-to}}</h1>
  {{#if session.isAuthenticated}}
    {{session}}
    {{model.firstname}}
    {{#link-to 'profile' model.id}}My Profile{{/link-to}}
    <button class= "btn-btn-primary" {{action 'signOut'}}>Sign Out</button>
  {{else}}
  <li>{{login-modal signIn='signIn'}}</li>
  <li>{{sign-up signUp="signUp"}}</li>
  {{/if}}
</nav>
<div class="container">
  {{outlet}}
</div>
