<div class="container">
  <ul>
    {{#each model.question as |single-question|}}
      {{question-tile question=single-question}}
    {{/each}}
  </ul>
</div>

<div class="container new-question">
  <div class="row">
    {{new-question user=model.user saveQuestion='saveQuestion'}}
  </div>
</div>

{{session.uid}}
{{user.firstname}}

{{outlet}}
