<!-- question details, see question-details component template -->
{{question-details question=model.question}}

<!-- update question -->
{{update-question question=model.question user=model.user saveUpdate='saveUpdate'}}

<!-- delete question button -->
<div class="container">
  <div class="row">
    <button {{action 'deleteQuestion' model}}>Delete this question</button>
  </div>
</div>
<br><br>
<!-- comments -->
<div class="container">
  <div class="row">
    <h4>Answers:</h4>
    <!-- add comment -->
    {{add-answer saveAnswer='saveAnswer' question=model.question user=model.user}}

    <ul>
      {{ordered-answers answers=model.question.answers upvote='upvote' downvote='downvote'}}
      <!-- {{#each model.answers as |answer-unit|}}
        {{answer-tile answer=answer-unit upvote='upvote' downvote='downvote'}}
      {{/each}} -->
    </ul>
  </div>
</div>



{{outlet}}
